@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
@import './css/form.scss';
@import './css/recipe.scss';

$font-color: rgb(75, 75, 75);
$subtext: gray;
body {
  margin: 0;
  font-family:  -apple-system, 'Playfair Display', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
}
h1{
  font-weight: 400 !important;
  margin-bottom: 1.3em;;
}

h2{
  font-family: 'Playfair Display';
  // font-size: 1em;
  font-weight: 400;
  color: $font-color;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div, form, .NavBar{
  // border: 1px solid rgba(0,0,0,1) ; 
}

img{
  width: 300px;
}

a{
  text-decoration:none;
  color: black;
}


// NAV BAR
.NavBar{
  font-family: Roboto;
  font-weight: 500;
  
  width: 100%;
  height: auto;
  padding-top: 1rem;
  position: fixed;
  z-index: 150;
  background-color: white;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: space-between;

  a{
    color: $font-color !important;
  }

  .TopMenu{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    .Logo{
    }
    
    .Menu{
     /* margin-right: 40px; */
     flex-shrink: 0;
    }
    
    .Menu{
      color: $font-color !important;
      padding: 0 5px;
     }
  }

  .Filter{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    height: auto;
    // flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    .makeStyles-root-2{
      width: 20%;
      min-width: 250px;
      // display: inline-flex;
      // input{
      //   width: 100%;
      //   height: 1rem;
      //   padding: 0;
      // }
    }
    .SortContainer{
      width: 80%;
      flex-wrap: wrap;
      position: relative;
      padding-left: 1rem;
      flex-direction: row-reverse;
      // margin-bottom: 8px;
      margin-top: 1em;
      // position: relative;
      display: flex;
      flex-direction: row;
      
      .AddedSort{
        height: 40px;
        width: auto;
        padding-left: 0.3em;
        display: flex;
        list-style: none;
      }

      .MuiPaper{
        box-shadow: 0px 2px 4px -1px rgba(116, 116, 116, 0.2), 0px 4px 6px 0px rgba(181, 181, 181, 0.14), 0px 1px 7px 0px rgba(116, 116, 116, 0.12);
        // 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
        border-radius: 4px;
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: #fff;
        list-style: none;
        display: flex;
        flex-flow: wrap;
        margin: 0.5em;
        // margin: 0 !important;
        z-index: 150;
        padding-inline-start: 40px;

        height: 0;
        transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
        overflow: hidden;
        box-sizing: border-box;

      }
    }

  }
}


.SvgContainer{
  color: black;
    width: 36px;
    height: 36px;
    padding: 0;
    /* font-size: 0.875rem; */
    min-width: 0;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    box-sizing: border-box;
    min-height: 36px;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
    /* font-weight: 500; */
    /* line-height: 1.75; */
    border-radius: 50%;
    background-color: white;
    border-color: white;
    border-style: none;
    

}

.Svg{
  fill: gray;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  
}

#toggle + label:after {
}

.OpenClose{
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}



main{
  margin-top: 120px;
}

#toggle:checked ~ .MuiPaper {
  height: 140px;
  margin-top: 0.3em !important ;
  padding: 0.5em;
}

#toggle:checked ~ .MuiPaper li {
  display: list-item;
}

#toggle:checked + label {
  background:#dd6149;
}

#toggle:checked + label:after {
  content:"Close"
}

.Container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

.Row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.Account{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.RecipeContainer{
  // display: flex;
  // flex-direction: revert;
  // width: 60%;
  display: grid;
  transition:  margin-right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}
.UserInfo{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 30%
}

.Info{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 40%
}

.RecipeContainer, .ExperianceContainer, .AccountInfo{
  width: 100%;
  margin: 0  auto;
}


/**RECIPE CARD STYLE */

.RecipeCard{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $font-color;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  /* width: 100%; */
  margin: 0 0.5em;
  /* max-width: 99em; */
  /* padding: 0 0.3rem; */
  min-width: 200px;
  position: relative;
}

.RecipeCardImage{
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // -webkit-border-top-left-radius: 15px;
  // -webkit-border-top-right-radius: 15px;
  // -moz-border-radius-topleft: 15px;
  // -moz-border-radius-topright: 15px;
  // border-top-left-radius: 15px;
  // border-top-right-radius: 15px;
  width: auto;
  height: 300px;
  max-height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
    
    img {
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
  }
}

.RedcipeCardTitle{
  
  height: 65px;
  margin-bottom: 2em;
  
    .Header{
      font-size: 1.1em;
      line-height: 1.4em;
      letter-spacing: 0em;
      margin-bottom: 0.3em;
      margin-top:0.8em;
      font-weight: 500;
    }
    .Subheader{
      // text-align: right;
      // margin-top: 0.7rem;
      // font-size: 0.8rem;
      color:$subtext;
      letter-spacing: 0em;
      line-height: 1.5;
      
      a{
        font-size: 0.9em;
        color: $subtext;
        cursor: pointer;
        margin:0;  
        line-height: 1rem;
      }
      a:hover{
        font-size: 0.9em;
        color: red;
        cursor: pointer;
        font-weight: 500;
        margin:0;  
        line-height: 1rem;
      }
  } 
}

.Cuisines {
  width: 100%;
  height: 30px;

  span{
    color: $subtext;
    border: $subtext 0.5px solid;
    border-radius: 25px;
    padding: 0.3em 0.6em;
    margin-right: 9px;
    font-size: 0.9rem;
  }
}

.Star{
  display: flex;
  align-items: center;
  line-height: 1em;
  height: 3em;
  h5{
    display: inline-block;
    color: $subtext;
    margin-left: 1em;
    font-weight: 400;
  }

  svg{
    margin-right: 0.3em;
  }
}

.Image{
  width: 100%;
  /*margin: 0 auto; */
}

// .Image img{
//   width:  100%;
//   height: 250px;
//   /*margin: 0 auto; */
// }

.IngredientsList, .InstructionsList{
  width: 100%;
}
.Recipes, .Experiances{
  display: flex;
  flex-direction: row;
}





// .RecipeTag{

//   font-size: 14px !important;
//   margin: 1.5rem 0;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
//   font-family: 'Roboto', sans-serif;

  

  
  
// }

// form{
//   width: 100%
// }


/* LIKES */
.LikeBtn{
  position: absolute !important;
  z-index: 100;
  top: 0 !important;
  right: 0 !important;
  transform: scale(0.6);
  background-color:white !important;
  color: #dd6149 !important;
  box-shadow: 0px 2px 4px -1px rgba(29, 29, 29, 0.2), 0px 4px 6px 0px rgba(75, 74, 74, 0.14), 0px 1px 7px 0px rgba(182, 176, 176, 0.12);
  z-index: 500;

  span{
    transform: scale(1.4);
  }
}

.RecipeBookMark{
  background-color:white !important;
  color: #dd6149 !important;
}

.TagText{
  position: absolute;
  font-size: small;
  bottom: 0;
}
/* RATINGs */
input[type="radio"]{
  display: none;
}

.Ratings{
  font-size: 14px !important;
  line-height: 18px !important;
}
.starContainer{
  display: flex;
  justify-content: center;
  align-items: center;

}
.star{
  cursor: pointer;
  transition: color 200ms;
}