body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div, form, .NavBar{
  border: aqua 1px solid;
}

img{
  width: 300px;
}

main{
  margin-top: 50px;
}
.NavBar{
  width: 100vw;
  position: absolute;
  padding: 0 20px;
  display: inline-flex;
  justify-content: space-between
}
.Logo{
  
}

.Menu{
 margin-right: 40px;
}

.Menu a{
  padding: 0 5px;
 }

.Container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

.Row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.Account{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.RecipeContainer{
  display: flex;
  flex-direction: revert;
  width: 60%;
}
.UserInfo{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 30%
}

.Info{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 40%
}

.RecipeContainer, .ExperianceContainer, .AccountInfo{
  width: 100%;
  margin: 0  auto;
}

.Image{
  width: 100%;
  /*margin: 0 auto; */
}

.Image img{
  width:  100%;
  height: 250px;
  /*margin: 0 auto; */
}

.IngredientsList, .InstructionsList{
  width: 100%;
}
.Recipes, .Experiances{
  display: flex;
  flex-direction: row;
}

.RecipeCard{
  width: 23%;
  margin: 0 1%;
}
form{
  width: 100%
}


/* LIKES */
.LikeBtn{
  z-index: 100;
}

/* RATINGs */
input[type="radio"]{
  display: none;
}
.starContainer{
  display: flex;
  justify-content: center;
  align-items: center;

}
.star{
  cursor: pointer;
  transition: color 200ms;
}